# Python Virtual Environment
venv/
venv*/
__pycache__/

# Byte-compiled / optimized / DLL files
*.py[cod]
*.so
*.dylib

# IDE specific files
.idea/

# Other configurations
config.ini

# Miscellaneous
.DS_Store
